body {
background-image: url("Blackjack.jpeg");
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
background-size: cover;
text-align: center;
font-weight: 500;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-style: italic;
}