body {
    margin: 0;
    background-color: #121639;
}

h3 {
   color: white;
}

.container {
    display: flex;
    justify-content: space-around;
}

 /* #home-score {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px; 
    color: white;
    display: block;
    margin-left: auto;
}  */
